<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="shortcut icon" type="image/png" href="https://zctnet.top:666/favicon.png">
    <title>Asgard在线服务器查询</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        .userId{
            background-color: lightgray;
            width: auto;
            margin-left: 2%;
            margin-top: 5px;
        }
        .table-expand label {
            width: 90px;
            color: #99a9bf;
        }
        .table-expand .el-form-item {
            border: 1px solid blue;
            margin-right: 0;
            margin-bottom: 0;
            width: 80%;
        }
        el-table-column{
            border: 1px solid red;
        }
    </style>
</head>
<body>
<div id="app">
    <el-container>
        <el-header style="text-align: center;width: 100%;height: auto">
            <h1>Asgard服务器状态查询</h1>
            <el-row type="flex" justify="center" style="z-index: 100">
                <el-col :span="20" style="border: 3px double grey;height: auto;padding-bottom: 1%">
                    <p>
                        目前总共有 {{tableDatas[0].players_online+tableDatas[1].players_online+tableDatas[2].players_online+tableDatas[3].players_online+tableDatas[4].players_online+tableDatas[5].players_online}} 名玩家在服务器中游玩
                    </p>
                    <el-col style="height: auto;width: 100%">
                        <el-row>
                            <el-col :span="4" class="userId" v-for="player in tableDatas[0].players">
                                <img width="32" height="32" :src='headApi+player.name'/>
                                {{player.name}}
                            </el-col>
                            <el-col :span="4" class="userId" v-for="player in tableDatas[1].players">
                                <img width="32" height="32" :src='headApi+player.name'/>
                                {{player.name}}
                            </el-col>
                            <el-col :span="4" class="userId" v-for="player in tableDatas[2].players">
                                <img width="32" height="32" :src='headApi+player.name'/>
                                {{player.name}}
                            </el-col>
                            <el-col :span="4" class="userId" v-for="player in tableDatas[3].players">
                                <img width="32" height="32" :src='headApi+player.name'/>
                                {{player.name}}
                            </el-col>
                            <el-col :span="4" class="userId" v-for="player in tableDatas[4].players">
                                <img width="32" height="32" :src='headApi+player.name'/>
                                {{player.name}}
                            </el-col>
                            <el-col :span="4" class="userId" v-for="player in tableDatas[5].players">
                                <img width="32" height="32" :src='headApi+player.name'/>
                                {{player.name}}
                            </el-col>

                        </el-row>
                    </el-col>
                </el-col>
            </el-row>
        </el-header>
        <el-main>
            <el-row type="flex" justify="center">
                <el-col :span="20">
                    <el-table
                            :data="tableDatas"
                            stripe
                            :key="key"
                            fit
                            :header-cell-style="{'text-align':'center'}"
                            :cell-style="{'text-align':'center'}">
                        <el-table-column type="expand">
                            <i class="el-icon-caret-right"></i>
                            <template slot-scope="props">
                                <el-table
                                        :data="props.row.players"
                                        style="width: 90%;margin-left: 5%"
                                        row-key="id"
                                        lazy
                                        :tree-props="{children: 'children', hasChildren: 'hasChildren'}">
                                    <el-table-column
                                            width="64">
                                        <template slot-scope="playerInfo">
                                            <img width="32" height="32" :src='headApi+playerInfo.row.name'/>
                                        </template>
                                    </el-table-column>
                                    <el-table-column
                                            prop="name"
                                            width="720">
                                    </el-table-column>
                                </el-table>
                            </template>
                        </el-table-column>
                        <el-table-column
                                label="LOGO"
                                width="128">
                            <template slot-scope="props">
                                <img width="64" height="64" :src='props.row.favicon'/>
                            </template>
                        </el-table-column>
                        <el-table-column
                                prop="name"
                                label="服号"
                                width="96">
                        </el-table-column>
                        <el-table-column
                                label="在线玩家"
                                width="180">
                            <template slot-scope="scope">
                                {{scope.row.players_online}}/{{scope.row.players_max}}
                            </template>

                        </el-table-column>
                        <el-table-column
                                label="服务器"
                                width="128">
                            <template slot-scope="scope">
                                <div v-if="scope.row.status!='离线'">
                                    <span>online</span>
                                    <i class="el-icon-success" style="color: green"></i>
                                </div>
                                <div v-if="scope.row.status=='离线'">
                                    <span>offline</span>
                                    <i class="el-icon-error" style="color: red"></i>
                                </div>
                            </template>

                        </el-table-column>
                        <el-table-column
                                label="MOTD"
                        >
                            <template slot-scope="scope">
                                <div v-if="scope.row.status!='离线'">
                                    <div v-if="scope.row.motd.text.trim()!=''">{{scope.row.motd.text}}</div>
                                    <div v-if="scope.row.motd.text.trim()==''">
                            <span :style="i" v-for="i in scope.row.motd.extra">
                                {{i.text}}
                            </span>
                                    </div>
                                </div>
                                <div v-if="scope.row.status=='离线'">
                                    加载中，如过慢请尝试刷新页面
                                </div>
                            </template>
                        </el-table-column>
                    </el-table>
                </el-col>
            </el-row>

        </el-main>
    </el-container>
</div>


<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.13/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            headApi:"https://mineskin.eu/avatar/",
            urls:[
                'https://api.imlazy.ink/mcapi/?name=一服&host=zctnet.top&type=json',
                'https://api.imlazy.ink/mcapi/?name=二服&host=zctnet.top:25566&type=json',
                'https://api.imlazy.ink/mcapi/?name=三服&host=zctnet.top:25567&type=json',
                'https://api.imlazy.ink/mcapi/?name=四服&host=lt.zctnet.top&type=json',
                'https://api.imlazy.ink/mcapi/?name=五服&host=zctnet.top:25569&type=json',
                'https://api.imlazy.ink/mcapi/?name=六服&host=zctnet.top:25568&type=json'
            ],
            key:0,//手动刷新table
            tableDatas: [
                {
                    /*伪数据*/
                    "loading":true,
                    "name": null,
                    "status": "离线",
                    "motd": {
                        "extra":[],
                        "text":""
                    },
                    "players_max": null,
                    "players_online": null,
                    "players": null,
                    "serverId": null,
                    "version": null,
                    "modInfo": null,
                    "hostip": null,
                    "software": null,
                    "gametype": null,
                    "platform": null,
                    "map": null,
                    "plugins": null,
                    "NintendoLimited": null,
                    "favicon": null
                },
                {},
                {},
                {},
                {},
                {}]
        },
        created(){
            this.tableDatas[1]=this.tableDatas[0];
            this.tableDatas[2]=this.tableDatas[0];
            this.tableDatas[3]=this.tableDatas[0];
            this.tableDatas[4]=this.tableDatas[0];
            this.tableDatas[5]=this.tableDatas[0];
            this.getInfos();
        },
        methods:{
            getInfos(){
                for(let i=0;i<6;i++){
                    this.getInfo(i);
                    if(this.tableDatas[i].status=='离线'){//防止api返回错误信息，8s后再次重新ping离线的服务器
                        setInterval(() => {
                            this.getInfo(i);
                        }, 8000);
                    }
                }
            },
            async getInfo(i){//获取服务器信息
                that=this;
                axios.get(that.urls[i]).then(response=>{
                    that.tableDatas[i]=response.data
                    if(that.tableDatas[i].status!='离线'){
                        if('extra' in that.tableDatas[i].motd){
                            that.turnColor(that.tableDatas[i].motd.extra);
                        }
                        that.key = Math.random()//手动刷新table
                    }
                })
            },
            turnColor:function(motds){//motd_json颜色转化
                for(i in motds){
                    if('color' in motds[i]){
                        motds[i].color=motds[i].color.slice(motds[i].color.indexOf('_')+1);
                    }
                }
            }
        }
    })

</script>
</body></html>
